/*  ====== Theme Variables ======
    Unique to this project
    ========================================================================= */
/*  ====== Alternative Content Styles ======
    Additional content styles for different contexts.
    Useful for overriding element colours in areas with differing background colours.
    ========================================================================= */
.contentStyle .dark {
  color: rgba(0, 0, 0, 0.6);
}
.contentStyle .dark p {
  color: rgba(0, 0, 0, 0.6);
}
.contentStyle .dark a {
  color: #ed913d;
}
.contentStyle .dark a:hover {
  color: #b35e11;
}
.contentStyle .dark h1,
.contentStyle .dark h2,
.contentStyle .dark h3,
.contentStyle .dark h4,
.contentStyle .dark h5,
.contentStyle .dark h6 {
  color: rgba(0, 0, 0, 0.6);
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px, rgba(0, 0, 0, 0.1) -1px -1px 1px;
}
.contentStyle .dark h1 small,
.contentStyle .dark h2 small,
.contentStyle .dark h3 small,
.contentStyle .dark h4 small,
.contentStyle .dark h5 small,
.contentStyle .dark h6 small {
  color: rgba(204, 204, 204, 0.6);
}
.contentStyle .dark blockquote {
  color: rgba(0, 0, 0, 0.6);
}
.contentStyle .dark hr {
  border-top: rgba(0, 0, 0, 0.6) 2px dotted;
}
.contentStyle .dark table {
  color: rgba(0, 0, 0, 0.6);
}
.contentStyle .light {
  color: rgba(255, 255, 255, 0.9);
}
.contentStyle .light p {
  color: rgba(255, 255, 255, 0.9);
}
.contentStyle .light a {
  color: #ed913d;
}
.contentStyle .light a:hover {
  color: #b35e11;
}
.contentStyle .light h1,
.contentStyle .light h2,
.contentStyle .light h3,
.contentStyle .light h4,
.contentStyle .light h5,
.contentStyle .light h6 {
  color: rgba(255, 255, 255, 0.9);
}
.contentStyle .light h1 small,
.contentStyle .light h2 small,
.contentStyle .light h3 small,
.contentStyle .light h4 small,
.contentStyle .light h5 small,
.contentStyle .light h6 small {
  color: rgba(255, 255, 255, 0.9);
}
.contentStyle .light blockquote {
  color: rgba(255, 255, 255, 0.9);
}
.contentStyle .light hr {
  border-top: rgba(255, 255, 255, 0.2) 2px dotted;
}
.contentStyle .light table {
  color: rgba(255, 255, 255, 0.9);
}
.contentStyle .white {
  color: rgba(255, 255, 255, 0.9);
}
.contentStyle .white p {
  color: rgba(255, 255, 255, 0.9);
}
.contentStyle .white a {
  color: rgba(255, 255, 255, 0.9);
}
.contentStyle .white a:hover {
  text-decoration: none;
}
.contentStyle .white h1,
.contentStyle .white h2,
.contentStyle .white h3,
.contentStyle .white h4,
.contentStyle .white h5,
.contentStyle .white h6 {
  color: rgba(255, 255, 255, 0.9);
}
.contentStyle .white h1 small,
.contentStyle .white h2 small,
.contentStyle .white h3 small,
.contentStyle .white h4 small,
.contentStyle .white h5 small,
.contentStyle .white h6 small {
  color: rgba(255, 255, 255, 0.9);
}
.contentStyle .white blockquote {
  color: rgba(255, 255, 255, 0.9);
}
.contentStyle .white hr {
  border-top: rgba(255, 255, 255, 0.2) 2px dotted;
}
.contentStyle .white table {
  color: rgba(255, 255, 255, 0.9);
}
/*  ====== Content ======
    Apply 'Content' class to blocks of content.
    Useful for user-provided markup (TinyMCE etc.)
    ========================================================================= */
.Content > *:last-child {
  margin-bottom: 0;
}
.Content p {
  margin-bottom: 1em;
}
.Content a {
  display: inline-block;
  font-weight: bold;
  position: relative;
  color: #e27715;
  border-bottom: 1px solid transparent;
}
.Content a:hover {
  color: #4D78C9;
  border-bottom: 1px solid #ed913d;
}
.Content a:hover img {
  opacity: 0.6;
}
.Content a img {
  transition: opacity 0.2s ease-in-out;
}
.Content h1,
.Content h2,
.Content h3,
.Content h4,
.Content h5 {
  margin-bottom: 20px;
}
.Content ol li,
.Content ul li {
  margin-bottom: 10px;
}
.Content ol.list-spaced li,
.Content ul.list-spaced li {
  margin-bottom: 27px;
}
.Content blockquote {
  margin-bottom: 30px;
}
.u-grid {
  display: flex;
  flex-wrap: wrap;
}
.u-grid > * {
  flex: 0 1 auto;
}
.u-clearfix:before,
.u-clearfix:after {
  content: " ";
  display: table;
}
.u-clearfix:after {
  clear: both;
}
img.u-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*  ********* utilities.less *********
    A bunch of useful classes designed to be re-used
    ************************************************************************* */
.u-heading {
  text-align: center;
  font-size: 2em;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.4);
  text-shadow: #ffffff 1px 1px 1px, rgba(0, 0, 0, 0.2) -1px -1px 1px;
}
.u-heading--alt {
  line-height: 1;
  color: rgba(0, 0, 0, 0.4);
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px, rgba(0, 0, 0, 0.1) -1px -1px 1px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
.u-lead {
  font-size: 1.4em;
  line-height: 1.2;
  font-weight: 300;
}
/*  --- Text Style Utilities ---
    ------------------------------------------------------------------------- */
.u-left {
  text-align: left;
}
.u-center {
  text-align: center;
}
.u-right {
  text-align: right;
}
/*  --- Use to hide or display items depending on JS support ---
    ------------------------------------------------------------------------- */
.no-js-show {
  display: none !important;
}
.no-js .no-js-hide {
  display: none !important;
}
.no-js .no-js-show {
  display: block !important;
}
/*  --- Text Style Utilities ---
    ------------------------------------------------------------------------- */
.u-left {
  text-align: left;
}
.u-center {
  text-align: center;
}
.u-right {
  text-align: right;
}
* {
  box-sizing: border-box;
  font-family: 'Lato', serif;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  line-height: 1;
  vertical-align: baseline;
}
body {
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  background: #EFEBE5;
}
p {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}
a {
  font-weight: bold;
  color: #ed913d;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}
a:hover {
  color: #b35e11;
  text-decoration: none;
}
/*  --- Headings ---
    ------------------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  color: #ed913d;
  line-height: 1.4;
  font-family: 'Nunito', serif;
}
h1 {
  font-size: 45.6976px;
}
h2 {
  font-size: 35.152px;
}
h3 {
  font-size: 27.04px;
}
h4 {
  font-size: 20.8px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 16px;
}
@media only screen and (max-width: 640px) {
  h1 {
    font-size: 36.55808px;
  }
  h2 {
    font-size: 28.1216px;
  }
  h3 {
    font-size: 21.632px;
  }
  h4 {
    font-size: 16.64px;
  }
  h5 {
    font-size: 12.8px;
  }
  h6 {
    font-size: 12.8px;
  }
}
/*  --- Lists ---
    ------------------------------------------------------------------------- */
ul {
  margin: 0;
  padding: 0;
}
ul li {
  margin-bottom: 0.5em;
  margin-left: 1em;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin-bottom: 10px;
}
/*  --- Blockquote ---
    ------------------------------------------------------------------------- */
blockquote {
  display: inline-block;
  font-family: 'Caveat', Georgia, serif;
  font-style: normal;
  font-size: 3em;
  line-height: 1.2;
  color: #636363;
  background-image: url('/img/blockquote_open.svg'), url('/img/blockquote_close.svg');
  background-position: left top, right bottom;
  background-repeat: no-repeat;
  margin: 0;
  padding: 15px 30px;
}
blockquote p {
  margin-bottom: 0 !important;
}
blockquote cite {
  font-style: italic;
  font-size: 24px;
}
blockquote cite::before {
  content: '-- ';
}
/*  --- Horizontal Rule ---
    ------------------------------------------------------------------------- */
hr {
  border-top: rgba(0, 0, 0, 0.2) 2px dotted;
}
hr.spacer {
  padding: 0;
  margin: 0;
  height: 30px;
  width: 30px;
  visibility: hidden;
}
hr.spacer.-sm {
  height: 15px;
}
hr.spacer.-lg {
  height: 60px;
}
hr.spacer.-xl {
  height: 90px;
}
/*  --- Media ---
    ------------------------------------------------------------------------- */
img {
  border: none;
  max-width: 100%;
  height: auto;
}
/*  --- Code & Pre ---
    ------------------------------------------------------------------------- */
code {
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 0, 0.7);
  padding: 0 10px;
  border-radius: 3px;
  white-space: pre-wrap;
  text-align: left;
}
pre code {
  padding: 30px 40px;
  margin: 10px;
  border-radius: 10px;
}
/*  --- Table ---
    ------------------------------------------------------------------------- */
table {
  width: 100%;
}
table th {
  background: rgba(0, 0, 0, 0.2);
  text-align: left;
}
table td,
table th {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.Box {
  display: block;
  padding: 20px;
  background: #FFEFEF;
  box-shadow: #ffffff -1px -1px 1px, rgba(0, 0, 0, 0.4) 1px 1px 1px;
  border-radius: 10px;
}
.Button,
.Content .Button {
  display: inline-block;
  padding: 10px 15px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  border: none;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.9) !important;
  transition: opacity 0.2s ease-in-out, color 0.2s ease-in-out, background 0.2s ease-in-out, border 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out, color 0.2s ease-in-out, background 0.2s ease-in-out, border 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out, color 0.2s ease-in-out, background 0.2s ease-in-out, border 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  /*  --- Modifiers ---
    ------------------------------------------------------------------------- */
  /*  --- Responsive ---
    ------------------------------------------------------------------------- */
  /*  --- Modifiers ---
    ------------------------------------------------------------------------- */
}
.Button p,
.Content .Button p {
  color: rgba(255, 255, 255, 0.9) !important;
}
.Button a,
.Content .Button a {
  color: rgba(255, 255, 255, 0.9) !important;
}
.Button a:hover,
.Content .Button a:hover {
  text-decoration: none !important;
}
.Button h1,
.Content .Button h1,
.Button h2,
.Content .Button h2,
.Button h3,
.Content .Button h3,
.Button h4,
.Content .Button h4,
.Button h5,
.Content .Button h5,
.Button h6,
.Content .Button h6 {
  color: rgba(255, 255, 255, 0.9) !important;
}
.Button h1 small,
.Content .Button h1 small,
.Button h2 small,
.Content .Button h2 small,
.Button h3 small,
.Content .Button h3 small,
.Button h4 small,
.Content .Button h4 small,
.Button h5 small,
.Content .Button h5 small,
.Button h6 small,
.Content .Button h6 small {
  color: rgba(255, 255, 255, 0.9) !important;
}
.Button blockquote,
.Content .Button blockquote {
  color: rgba(255, 255, 255, 0.9) !important;
}
.Button hr,
.Content .Button hr {
  border-top: rgba(255, 255, 255, 0.2) 2px dotted !important;
}
.Button table,
.Content .Button table {
  color: rgba(255, 255, 255, 0.9) !important;
}
.Button img,
.Content .Button img {
  transition: opacity 0.2s ease-in-out;
}
.Button:hover,
.Content .Button:hover {
  color: inherit;
  background: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.Button:hover img,
.Content .Button:hover img {
  opacity: 0.6;
}
.Button:active,
.Content .Button:active,
.Button:focus,
.Content .Button:focus {
  text-decoration: none;
}
.Button--cta,
.Content .Button--cta {
  text-transform: uppercase;
  font-family: 'Nunito', serif;
  text-shadow: rgba(0, 0, 0, 0.1) 2px 2px 2px;
  margin: 4px;
  font-size: 44px;
  padding-left: 35px;
  padding-right: 35px;
  font-weight: bold;
}
.Button--cta:hover,
.Content .Button--cta:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
}
.Button--primary,
.Content .Button--primary {
  background: rgba(237, 145, 61, 0.8);
}
.Button--primary:hover,
.Content .Button--primary:hover {
  background: rgba(179, 94, 17, 0.8);
}
.Button--secondary,
.Content .Button--secondary {
  background: rgba(77, 120, 201, 0.8);
}
.Button--secondary:hover,
.Content .Button--secondary:hover {
  background: rgba(41, 74, 135, 0.8);
}
.Button--light,
.Content .Button--light {
  color: rgba(0, 0, 0, 0.6) !important;
  background: rgba(255, 255, 255, 0.8);
}
.Button--light p,
.Content .Button--light p {
  color: rgba(0, 0, 0, 0.6) !important;
}
.Button--light a,
.Content .Button--light a {
  color: #ed913d !important;
}
.Button--light a:hover,
.Content .Button--light a:hover {
  color: #b35e11 !important;
}
.Button--light h1,
.Content .Button--light h1,
.Button--light h2,
.Content .Button--light h2,
.Button--light h3,
.Content .Button--light h3,
.Button--light h4,
.Content .Button--light h4,
.Button--light h5,
.Content .Button--light h5,
.Button--light h6,
.Content .Button--light h6 {
  color: rgba(0, 0, 0, 0.6) !important;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px, rgba(0, 0, 0, 0.1) -1px -1px 1px !important;
}
.Button--light h1 small,
.Content .Button--light h1 small,
.Button--light h2 small,
.Content .Button--light h2 small,
.Button--light h3 small,
.Content .Button--light h3 small,
.Button--light h4 small,
.Content .Button--light h4 small,
.Button--light h5 small,
.Content .Button--light h5 small,
.Button--light h6 small,
.Content .Button--light h6 small {
  color: rgba(204, 204, 204, 0.6) !important;
}
.Button--light blockquote,
.Content .Button--light blockquote {
  color: rgba(0, 0, 0, 0.6) !important;
}
.Button--light hr,
.Content .Button--light hr {
  border-top: rgba(0, 0, 0, 0.6) 2px dotted !important;
}
.Button--light table,
.Content .Button--light table {
  color: rgba(0, 0, 0, 0.6) !important;
}
.Button--dark,
.Content .Button--dark {
  background: rgba(0, 0, 0, 0.8);
}
.Button--block,
.Content .Button--block {
  display: block;
}
.Button--center,
.Content .Button--center {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 400px;
}
.Button--md,
.Content .Button--md {
  border-radius: 20px;
}
@media only screen and (max-width: 1024px) {
  .Button--cta,
  .Content .Button--cta {
    font-size: 32px;
    padding: 8px 26px;
  }
}
@media only screen and (max-width: 640px) {
  .Button--cta,
  .Content .Button--cta {
    font-size: 30px;
    padding: 6px 22px;
  }
}
.Content .Button,
.Content .Content .Button {
  color: rgba(255, 255, 255, 0.9);
}
.Content .Button p,
.Content .Content .Button p {
  color: rgba(255, 255, 255, 0.9);
}
.Content .Button a,
.Content .Content .Button a {
  color: rgba(255, 255, 255, 0.9);
}
.Content .Button a:hover,
.Content .Content .Button a:hover {
  text-decoration: none;
}
.Content .Button h1,
.Content .Content .Button h1,
.Content .Button h2,
.Content .Content .Button h2,
.Content .Button h3,
.Content .Content .Button h3,
.Content .Button h4,
.Content .Content .Button h4,
.Content .Button h5,
.Content .Content .Button h5,
.Content .Button h6,
.Content .Content .Button h6 {
  color: rgba(255, 255, 255, 0.9);
}
.Content .Button h1 small,
.Content .Content .Button h1 small,
.Content .Button h2 small,
.Content .Content .Button h2 small,
.Content .Button h3 small,
.Content .Content .Button h3 small,
.Content .Button h4 small,
.Content .Content .Button h4 small,
.Content .Button h5 small,
.Content .Content .Button h5 small,
.Content .Button h6 small,
.Content .Content .Button h6 small {
  color: rgba(255, 255, 255, 0.9);
}
.Content .Button blockquote,
.Content .Content .Button blockquote {
  color: rgba(255, 255, 255, 0.9);
}
.Content .Button hr,
.Content .Content .Button hr {
  border-top: rgba(255, 255, 255, 0.2) 2px dotted;
}
.Content .Button table,
.Content .Content .Button table {
  color: rgba(255, 255, 255, 0.9);
}
.Hero--upperBorder {
  box-sizing: border-box;
  margin-top: 60px;
  border: 60px solid #111;
  border-radius: 40px 40px 0 0;
  border-bottom-width: 0;
}
@media screen and (max-width: 640px) {
  .Hero--upperBorder {
    margin-top: 30px;
    border-width: 30px;
    border-radius: 20px 20px 0 0;
    border-bottom-width: 10px;
  }
}
.Hero--upperBorder--sm {
  margin-top: 20px;
  border-width: 20px;
  border-radius: 15px 15px 0 0;
  border-bottom-width: 0;
}
@media screen and (max-width: 640px) {
  .Hero--upperBorder--sm {
    border-bottom-width: 20px;
    border-radius: 15px;
  }
}
.Section--sm {
  padding: 22.5px;
}
.Section--md {
  padding: 30px;
}
.Section--lg {
  padding: 60px;
}
.Section--xl {
  padding: 90px;
}
.Section--sidesOnly {
  padding-top: 0;
  padding-bottom: 0;
}
.Section--topOnly {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.Section--dark,
.Section-container.Section--dark {
  background: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.9);
}
.Section--dark p,
.Section-container.Section--dark p {
  color: rgba(255, 255, 255, 0.9);
}
.Section--dark a,
.Section-container.Section--dark a {
  color: #ed913d;
}
.Section--dark a:hover,
.Section-container.Section--dark a:hover {
  color: #b35e11;
}
.Section--dark h1,
.Section-container.Section--dark h1,
.Section--dark h2,
.Section-container.Section--dark h2,
.Section--dark h3,
.Section-container.Section--dark h3,
.Section--dark h4,
.Section-container.Section--dark h4,
.Section--dark h5,
.Section-container.Section--dark h5,
.Section--dark h6,
.Section-container.Section--dark h6 {
  color: rgba(255, 255, 255, 0.9);
}
.Section--dark h1 small,
.Section-container.Section--dark h1 small,
.Section--dark h2 small,
.Section-container.Section--dark h2 small,
.Section--dark h3 small,
.Section-container.Section--dark h3 small,
.Section--dark h4 small,
.Section-container.Section--dark h4 small,
.Section--dark h5 small,
.Section-container.Section--dark h5 small,
.Section--dark h6 small,
.Section-container.Section--dark h6 small {
  color: rgba(255, 255, 255, 0.9);
}
.Section--dark blockquote,
.Section-container.Section--dark blockquote {
  color: rgba(255, 255, 255, 0.9);
}
.Section--dark hr,
.Section-container.Section--dark hr {
  border-top: rgba(255, 255, 255, 0.2) 2px dotted;
}
.Section--dark table,
.Section-container.Section--dark table {
  color: rgba(255, 255, 255, 0.9);
}
.Section--light,
.Section-container.Section--light {
  background: rgba(255, 255, 255, 0.8);
  color: rgba(0, 0, 0, 0.6);
}
.Section--light p,
.Section-container.Section--light p {
  color: rgba(0, 0, 0, 0.6);
}
.Section--light a,
.Section-container.Section--light a {
  color: #ed913d;
}
.Section--light a:hover,
.Section-container.Section--light a:hover {
  color: #b35e11;
}
.Section--light h1,
.Section-container.Section--light h1,
.Section--light h2,
.Section-container.Section--light h2,
.Section--light h3,
.Section-container.Section--light h3,
.Section--light h4,
.Section-container.Section--light h4,
.Section--light h5,
.Section-container.Section--light h5,
.Section--light h6,
.Section-container.Section--light h6 {
  color: rgba(0, 0, 0, 0.6);
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px, rgba(0, 0, 0, 0.1) -1px -1px 1px;
}
.Section--light h1 small,
.Section-container.Section--light h1 small,
.Section--light h2 small,
.Section-container.Section--light h2 small,
.Section--light h3 small,
.Section-container.Section--light h3 small,
.Section--light h4 small,
.Section-container.Section--light h4 small,
.Section--light h5 small,
.Section-container.Section--light h5 small,
.Section--light h6 small,
.Section-container.Section--light h6 small {
  color: rgba(204, 204, 204, 0.6);
}
.Section--light blockquote,
.Section-container.Section--light blockquote {
  color: rgba(0, 0, 0, 0.6);
}
.Section--light hr,
.Section-container.Section--light hr {
  border-top: rgba(0, 0, 0, 0.6) 2px dotted;
}
.Section--light table,
.Section-container.Section--light table {
  color: rgba(0, 0, 0, 0.6);
}
.Section--content,
.Section-container.Section--content {
  background: rgba(255, 255, 255, 0.8);
}
.Section--lightGrad,
.Section-container.Section--lightGrad {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9));
}
.Section--lightGrad.Section--lightGrad--animated,
.Section--lightGrad.Section-container.Section--lightGrad--animated,
.Section-container.Section--lightGrad.Section--lightGrad--animated,
.Section-container.Section--lightGrad.Section-container.Section--lightGrad--animated {
  background-size: 400% 400%;
  -webkit-animation: sidebarBg 15s ease infinite;
          animation: sidebarBg 15s ease infinite;
}
@-webkit-keyframes sidebarBg {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@keyframes sidebarBg {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
.Section--primary,
.Section-container.Section--primary {
  background: rgba(237, 145, 61, 0.6);
  color: rgba(255, 255, 255, 0.9);
}
.Section--primary p,
.Section-container.Section--primary p {
  color: rgba(255, 255, 255, 0.9);
}
.Section--primary a,
.Section-container.Section--primary a {
  color: #ed913d;
}
.Section--primary a:hover,
.Section-container.Section--primary a:hover {
  color: #b35e11;
}
.Section--primary h1,
.Section-container.Section--primary h1,
.Section--primary h2,
.Section-container.Section--primary h2,
.Section--primary h3,
.Section-container.Section--primary h3,
.Section--primary h4,
.Section-container.Section--primary h4,
.Section--primary h5,
.Section-container.Section--primary h5,
.Section--primary h6,
.Section-container.Section--primary h6 {
  color: rgba(255, 255, 255, 0.9);
}
.Section--primary h1 small,
.Section-container.Section--primary h1 small,
.Section--primary h2 small,
.Section-container.Section--primary h2 small,
.Section--primary h3 small,
.Section-container.Section--primary h3 small,
.Section--primary h4 small,
.Section-container.Section--primary h4 small,
.Section--primary h5 small,
.Section-container.Section--primary h5 small,
.Section--primary h6 small,
.Section-container.Section--primary h6 small {
  color: rgba(255, 255, 255, 0.9);
}
.Section--primary blockquote,
.Section-container.Section--primary blockquote {
  color: rgba(255, 255, 255, 0.9);
}
.Section--primary hr,
.Section-container.Section--primary hr {
  border-top: rgba(255, 255, 255, 0.2) 2px dotted;
}
.Section--primary table,
.Section-container.Section--primary table {
  color: rgba(255, 255, 255, 0.9);
}
.Section--primaryGrad,
.Section-container.Section--primaryGrad {
  background: linear-gradient(rgba(255, 184, 120, 0.8), rgba(237, 145, 61, 0.8));
}
.Section--primaryGrad.Section--primaryGrad--animated,
.Section--primaryGrad.Section-container.Section--primaryGrad--animated,
.Section-container.Section--primaryGrad.Section--primaryGrad--animated,
.Section-container.Section--primaryGrad.Section-container.Section--primaryGrad--animated {
  background-size: 400% 400%;
  -webkit-animation: sidebarBg 15s ease infinite;
          animation: sidebarBg 15s ease infinite;
}
@-webkit-keyframes sidebarBg {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@keyframes sidebarBg {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
.Section--secondary,
.Section-container.Section--secondary {
  background: rgba(77, 120, 201, 0.6);
  color: rgba(255, 255, 255, 0.9);
}
.Section--secondary p,
.Section-container.Section--secondary p {
  color: rgba(255, 255, 255, 0.9);
}
.Section--secondary a,
.Section-container.Section--secondary a {
  color: #ed913d;
}
.Section--secondary a:hover,
.Section-container.Section--secondary a:hover {
  color: #b35e11;
}
.Section--secondary h1,
.Section-container.Section--secondary h1,
.Section--secondary h2,
.Section-container.Section--secondary h2,
.Section--secondary h3,
.Section-container.Section--secondary h3,
.Section--secondary h4,
.Section-container.Section--secondary h4,
.Section--secondary h5,
.Section-container.Section--secondary h5,
.Section--secondary h6,
.Section-container.Section--secondary h6 {
  color: rgba(255, 255, 255, 0.9);
}
.Section--secondary h1 small,
.Section-container.Section--secondary h1 small,
.Section--secondary h2 small,
.Section-container.Section--secondary h2 small,
.Section--secondary h3 small,
.Section-container.Section--secondary h3 small,
.Section--secondary h4 small,
.Section-container.Section--secondary h4 small,
.Section--secondary h5 small,
.Section-container.Section--secondary h5 small,
.Section--secondary h6 small,
.Section-container.Section--secondary h6 small {
  color: rgba(255, 255, 255, 0.9);
}
.Section--secondary blockquote,
.Section-container.Section--secondary blockquote {
  color: rgba(255, 255, 255, 0.9);
}
.Section--secondary hr,
.Section-container.Section--secondary hr {
  border-top: rgba(255, 255, 255, 0.2) 2px dotted;
}
.Section--secondary table,
.Section-container.Section--secondary table {
  color: rgba(255, 255, 255, 0.9);
}
.Section--secondaryGrad,
.Section-container.Section--secondaryGrad {
  background: linear-gradient(#1853c2, #29b887);
  color: rgba(255, 255, 255, 0.9);
}
.Section--secondaryGrad p,
.Section-container.Section--secondaryGrad p {
  color: rgba(255, 255, 255, 0.9);
}
.Section--secondaryGrad a,
.Section-container.Section--secondaryGrad a {
  color: rgba(255, 255, 255, 0.9);
}
.Section--secondaryGrad a:hover,
.Section-container.Section--secondaryGrad a:hover {
  text-decoration: none;
}
.Section--secondaryGrad h1,
.Section-container.Section--secondaryGrad h1,
.Section--secondaryGrad h2,
.Section-container.Section--secondaryGrad h2,
.Section--secondaryGrad h3,
.Section-container.Section--secondaryGrad h3,
.Section--secondaryGrad h4,
.Section-container.Section--secondaryGrad h4,
.Section--secondaryGrad h5,
.Section-container.Section--secondaryGrad h5,
.Section--secondaryGrad h6,
.Section-container.Section--secondaryGrad h6 {
  color: rgba(255, 255, 255, 0.9);
}
.Section--secondaryGrad h1 small,
.Section-container.Section--secondaryGrad h1 small,
.Section--secondaryGrad h2 small,
.Section-container.Section--secondaryGrad h2 small,
.Section--secondaryGrad h3 small,
.Section-container.Section--secondaryGrad h3 small,
.Section--secondaryGrad h4 small,
.Section-container.Section--secondaryGrad h4 small,
.Section--secondaryGrad h5 small,
.Section-container.Section--secondaryGrad h5 small,
.Section--secondaryGrad h6 small,
.Section-container.Section--secondaryGrad h6 small {
  color: rgba(255, 255, 255, 0.9);
}
.Section--secondaryGrad blockquote,
.Section-container.Section--secondaryGrad blockquote {
  color: rgba(255, 255, 255, 0.9);
}
.Section--secondaryGrad hr,
.Section-container.Section--secondaryGrad hr {
  border-top: rgba(255, 255, 255, 0.2) 2px dotted;
}
.Section--secondaryGrad table,
.Section-container.Section--secondaryGrad table {
  color: rgba(255, 255, 255, 0.9);
}
.Section--secondaryGrad.Section--secondaryGrad--animated,
.Section--secondaryGrad.Section-container.Section--secondaryGrad--animated,
.Section-container.Section--secondaryGrad.Section--secondaryGrad--animated,
.Section-container.Section--secondaryGrad.Section-container.Section--secondaryGrad--animated {
  background-size: 400% 400%;
  -webkit-animation: sidebarBg 15s ease infinite;
          animation: sidebarBg 15s ease infinite;
}
@-webkit-keyframes sidebarBg {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@keyframes sidebarBg {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
.Section--tertiary,
.Section-container.Section--tertiary {
  background: rgba(90, 196, 159, 0.6);
  color: rgba(255, 255, 255, 0.9);
}
.Section--tertiary p,
.Section-container.Section--tertiary p {
  color: rgba(255, 255, 255, 0.9);
}
.Section--tertiary a,
.Section-container.Section--tertiary a {
  color: rgba(255, 255, 255, 0.9);
}
.Section--tertiary a:hover,
.Section-container.Section--tertiary a:hover {
  text-decoration: none;
}
.Section--tertiary h1,
.Section-container.Section--tertiary h1,
.Section--tertiary h2,
.Section-container.Section--tertiary h2,
.Section--tertiary h3,
.Section-container.Section--tertiary h3,
.Section--tertiary h4,
.Section-container.Section--tertiary h4,
.Section--tertiary h5,
.Section-container.Section--tertiary h5,
.Section--tertiary h6,
.Section-container.Section--tertiary h6 {
  color: rgba(255, 255, 255, 0.9);
}
.Section--tertiary h1 small,
.Section-container.Section--tertiary h1 small,
.Section--tertiary h2 small,
.Section-container.Section--tertiary h2 small,
.Section--tertiary h3 small,
.Section-container.Section--tertiary h3 small,
.Section--tertiary h4 small,
.Section-container.Section--tertiary h4 small,
.Section--tertiary h5 small,
.Section-container.Section--tertiary h5 small,
.Section--tertiary h6 small,
.Section-container.Section--tertiary h6 small {
  color: rgba(255, 255, 255, 0.9);
}
.Section--tertiary blockquote,
.Section-container.Section--tertiary blockquote {
  color: rgba(255, 255, 255, 0.9);
}
.Section--tertiary hr,
.Section-container.Section--tertiary hr {
  border-top: rgba(255, 255, 255, 0.2) 2px dotted;
}
.Section--tertiary table,
.Section-container.Section--tertiary table {
  color: rgba(255, 255, 255, 0.9);
}
.Section--center,
.Section-container.Section--center {
  text-align: center;
}
.Section--center img,
.Section-container.Section--center img {
  display: inline-block;
}
.Section--rounded,
.Section-container.Section--rounded {
  border-radius: 30px;
}
.Section-container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.Section-container--sm {
  padding: 22.5px;
}
.Section-container--sm-fullWidth {
  margin: 22.5px -22.5px;
}
.Section-container--md {
  padding: 30px;
}
.Section-container--md-fullWidth {
  margin: 30px -30px;
}
.Section-container--lg {
  padding: 60px;
}
.Section-container--lg-fullWidth {
  margin: 60px -60px;
}
.Section-container--xl {
  padding: 90px;
}
.Section-container--xl-fullWidth {
  margin: 90px -90px;
}
@media only screen and (max-width: 1024px) {
  .Section.Section--xl,
  .Section-container.Section--xl {
    padding: 60px;
  }
  .Section.Section--xl-fullWidth,
  .Section-container.Section--xl-fullWidth {
    margin: 60px -60px;
  }
}
@media only screen and (max-width: 640px) {
  .Section.Section--lg,
  .Section-container.Section--lg {
    padding: 30px;
  }
  .Section.Section--lg-fullWidth,
  .Section-container.Section--lg-fullWidth {
    margin: 30px -30px;
  }
  .Section.Section--xl,
  .Section-container.Section--xl {
    padding: 60px;
  }
  .Section.Section--xl-fullWidth,
  .Section-container.Section--xl-fullWidth {
    margin: 60px -60px;
  }
}
@media only screen and (max-width: 480px) {
  .Section.Section--lg,
  .Section-container.Section--lg {
    padding: 30px;
  }
  .Section.Section--lg-fullWidth,
  .Section-container.Section--lg-fullWidth {
    margin: 30px -30px;
  }
  .Section.Section--xl,
  .Section-container.Section--xl {
    padding: 30px;
  }
  .Section.Section--xl-fullWidth,
  .Section-container.Section--xl-fullWidth {
    margin: 30px -30px;
  }
}
