@-webkit-keyframes spin {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes slideInFromBottom {
  0% {
    transform: translateY(50%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(50%);
  }

  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.HomeIntro {
  display: grid;
  grid-gap: 0;
  grid-template-areas: "wave speech heading";
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr;
  padding-top: 2em;
  min-height: 40vh;
}

.HomeIntro-wave {
  grid-area: wave;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.HomeIntro-wave-img {
  width: 100%;
  max-width: 320px;
  display: block;
}

.HomeIntro-speech {
  grid-area: speech;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.HomeIntro-speech-inner {
  display: block;
  padding: 1em;
}

.HomeIntro-speech-bubble {
  display: inline-block;
  padding: 0.5em 1em;
}

.HomeIntro-heading {
  grid-area: heading;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2em 0.5em;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .HomeIntro {
    grid-template-areas: "speech heading" "wave heading";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
  }

  .HomeIntro-speech {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 640px) {
  .HomeIntro {
    grid-template-areas: "heading" "speech" "wave";
    grid-template-columns: 1fr;
  }

  .HomeIntro-wave-img {
    padding-right: 3rem;
  }

  .HomeIntro-speech {
    justify-content: center;
  }
}

.HomeIntro {
  background: linear-gradient(0deg, rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

.HomeIntro-speech {
  -webkit-animation: slideInFromTop 1s ease-in-out 0.4s 1;
          animation: slideInFromTop 1s ease-in-out 0.4s 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.HomeIntro-speech-inner {
  background: url("/img/home/speech.svg") left bottom no-repeat;
  background-size: 50%;
}

.HomeIntro-speech-bubble {
  background: #fff;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 4px 0 3px;
  font-family: "Caveat", Georgia, serif;
  text-align: center;
  line-height: 1;
  color: rgba(0, 0, 0, 0.6);
  font-size: 4rem;
}

.HomeIntro-title {
  text-align: center;
  font-size: 3.6rem;
  -webkit-animation: slideInFromRight 1s ease-in-out 0.2s 1;
          animation: slideInFromRight 1s ease-in-out 0.2s 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.HomeIntro-title-sub {
  display: block;
  font-size: 0.8em;
  font-family: "Caveat", Georgia, serif;
}

.HomeIntro-wave {
  -webkit-animation: slideInFromBottom 1s ease-in-out 0.6s 1;
          animation: slideInFromBottom 1s ease-in-out 0.6s 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@media screen and (max-width: 1280px) {
  .HomeIntro-title {
    font-size: 3rem;
  }

  .HomeIntro-speech-bubble {
    font-size: 3rem;
  }
}

@media screen and (max-width: 1024px) {
  .HomeIntro-title {
    font-size: 2.8rem;
  }

  .HomeIntro-speech-inner {
    background-image: url("/img/home/speech3.svg");
    background-position: center bottom;
    background-size: 25%;
  }
}

@media screen and (max-width: 640px) {
  .HomeIntro-title {
    font-size: 2.2rem;
  }

  .HomeIntro-title-sub {
    font-size: 1em;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(50%);
  }

  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.HomeHero {
  position: relative;
  padding: 3rem;
  text-align: left;
  background: linear-gradient(#ffb878, rgb(237, 145, 61));
  overflow: hidden;
}

.HomeHero-container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.HomeHero-inner {
  flex: 1 1 55%;
  position: relative;
  z-index: 6;
  height: 100%;
}

.HomeHero-bg {
  flex: 1 1 45%;
}

.HomeHero-heading {
  font-size: 6rem;
  line-height: 1;
  color: #fff;
}

.HomeHero-text {
  display: block;
}

.HomeHero-text--one {
  font-size: 0.6em;
  font-family: "Caveat", Georgia, serif;
}

.HomeHero-text--two {
  text-transform: uppercase;
  font-family: "Nunito", serif;
  padding-top: 0.1em;
}

.HomeHero-text--three {
  font-size: 0.6em;
  font-family: "Caveat", Georgia, serif;
}

@media screen and (max-width: 1280px) {
  .HomeHero-heading {
    font-size: 5rem;
  }
}

@media screen and (max-width: 1024px) {
  .HomeHero {
    padding: 2rem;
  }

  .HomeHero-inner {
    flex: 1 1 45%;
  }

  .HomeHero-bg {
    flex: 1 1 55%;
  }

  .HomeHero-heading {
    font-size: 4rem;
  }
}

@media screen and (max-width: 640px) {
  .HomeHero {
    padding: 2rem;
  }

  .HomeHero-container {
    flex-wrap: wrap;
  }

  .HomeHero-inner {
    flex: 1 1 100%;
  }

  .HomeHero-bg {
    flex: 1 1 100%;
  }

  .HomeHero-heading {
    text-align: center;
    font-size: 3rem;
  }
}

@media screen and (max-width: 320px) {
  .HomeHero {
    padding: 1rem;
  }
}

.HomeProject {
  display: grid;
  grid-gap: 0;
  grid-template-areas: "project character speech";
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr;
  min-height: 40vh;
}

.HomeProject-project {
  grid-area: project;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin: 0;
}

.HomeProject-character {
  grid-area: character;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.HomeProject-character-img {
  width: 100%;
  max-width: 320px;
  display: block;
}

.HomeProject-speech {
  grid-area: speech;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.HomeProject-speech-inner {
  display: block;
  padding: 1em;
}

.HomeProject-speech-bubble {
  display: inline-block;
  padding: 0.5em 1em;
}

@media screen and (max-width: 1280px) {
  .HomeProject {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1024px) {
  .HomeProject {
    min-height: auto;
    grid-template-areas: "project speech" "project character";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .HomeProject-character {
    justify-content: center;
  }

  .HomeProject-speech {
    align-items: flex-end;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 640px) {
  .HomeProject {
    grid-template-areas: "project" "speech" "character";
    grid-template-columns: 1fr;
  }

  .HomeProject-character {
    justify-content: flex-end;
  }

  .HomeProject-character-img {
    padding-right: 3rem;
  }

  .HomeProject-speech {
    justify-content: center;
  }
}

.HomeProject {
  background: linear-gradient(0deg, rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

.HomeProject-speech {
  -webkit-animation: slideInFromTop 1s ease-in-out 0.4s 1;
          animation: slideInFromTop 1s ease-in-out 0.4s 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.HomeProject-speech-inner {
  background: url("/img/home/speech.svg") left bottom no-repeat;
  background-size: 50% 50%;
}

.HomeProject-speech-bubble {
  background: #fff;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 4px 0 3px;
  font-family: "Caveat", Georgia, serif;
  text-align: center;
  line-height: 1;
  color: rgba(0, 0, 0, 0.6);
  font-size: 2.5em;
}

.HomeProject-character {
  -webkit-animation: slideInFromBottom 1s ease-in-out 0.6s 1;
          animation: slideInFromBottom 1s ease-in-out 0.6s 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@media screen and (max-width: 1024px) {
  .HomeProject-speech-inner {
    padding-bottom: 2em;
    background-image: url("/img/home/speech3.svg");
    background-position: center bottom;
    background-size: 50% 50%;
  }
}

@media screen and (max-width: 640px) {
  .HomeProject-character-img {
    transform: rotateZ(10deg) translateY(1.5em) translateX(-0.5em);
  }
}

.HomeCallToAction {
  z-index: 2;
  position: relative;
  background: linear-gradient(90deg, #5AC49F, #4D78C9);
  padding: 2em;
}

.HomeCallToAction-container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.HomeCallToAction-container > * {
  flex: 1 1 auto;
  text-align: center;
}

.HomeCallToAction-title {
  text-align: center;
}

.HomeCallToAction-button {
  margin: 0.5em;
  padding: 0.5em 1em;
  background: #fff;
  font-size: 2rem;
  font-family: "Nunito", serif;
  position: relative;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  border-radius: 1em 0 0 1em;
}

.HomeCallToAction-button-icon {
  display: block;
  margin-right: 0.5em;
  max-height: 1em;
}

.HomeCallToAction-button-svg {
  display: inline-block;
  max-height: 1em;
  transition: all 0.2s ease-in-out;
}

.HomeCallToAction-button:after {
  content: "";
  top: 0;
  position: absolute;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  transition: all 0.2s ease-in-out;
}

.HomeCallToAction-button:after {
  left: 100%;
  border-left: 0.8em solid #fff;
}

.HomeCallToAction-button--primary {
  color: #5AC49F;
}

.HomeCallToAction-button--primary .HomeCallToAction-button-svg {
  fill: #5AC49F;
}

.HomeCallToAction-button--secondary {
  color: #549eb4;
}

.HomeCallToAction-button--secondary .HomeCallToAction-button-svg {
  fill: #549eb4;
}

.HomeCallToAction-button--tertiary {
  color: #4D78C9;
}

.HomeCallToAction-button--tertiary .HomeCallToAction-button-svg {
  fill: #4D78C9;
}

.HomeCallToAction-button:focus,
.HomeCallToAction-button:hover {
  background: rgba(255, 255, 255, 0.25);
  color: #eee;
}

.HomeCallToAction-button:focus:after,
.HomeCallToAction-button:hover:after {
  border-left-color: rgba(255, 255, 255, 0.25);
  transform: translateX(0.5em);
}

.HomeCallToAction-button:focus .HomeCallToAction-button-svg,
.HomeCallToAction-button:hover .HomeCallToAction-button-svg {
  transform: scale(1.6);
  fill: #eee;
}

@media screen and (max-width: 1280px) {
  .HomeCallToAction-button {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 640px) {
  .HomeCallToAction {
    background: linear-gradient(180deg, #5AC49F, #4D78C9);
  }

  .HomeCallToAction-container > * {
    flex: 1 1 100%;
  }

  .HomeCallToAction-button {
    display: flex;
  }
}

.Header {
  display: flex;
  align-items: flex-end;
  max-width: 1440px;
  margin: 0 auto;
  padding: 3rem 0;
}

.Header > * {
  flex: 1 1 auto;
}

.Header-title {
  padding: 0 3rem;
  font-size: 4rem;
  line-height: 1;
}

.Header-sub {
  padding: 0 3rem;
  font-size: 3rem;
  line-height: 1.1;
  font-family: "Caveat", Georgia, serif;
  text-align: right;
}

@media screen and (max-width: 1280px) {
  .Header-title {
    font-size: 3rem;
  }

  .Header-sub {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .Header {
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .Header > * {
    flex: 1 1 100%;
  }

  .Header-title {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .Header-sub {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 1em;
    text-align: left;
  }
}

@media screen and (max-width: 480px) {
  .Header {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .Header-title {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 2rem;
  }

  .Header-sub {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
  }
}

.Page--skills .Page-grid {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.Page--skills .Page-grid-item {
  box-sizing: border-box;
  width: 50%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.Page--skills .Page-grid-item--bg {
  background: #fff;
}

.Page--skills .Page-grid-item--color1 {
  background: #ed913d;
}

.Page--skills .Page-grid-item--color2 {
  background: #4D78C9;
}

.Page--skills .Page-grid-item--color3 {
  background: #5AC49F;
}

.Page--skills .Page-grid-item--noPadding {
  padding: 0;
}

.Page--skills .Page-grid-item--noPaddingBottom {
  padding-bottom: 0;
}

.Page--skills .Page-grid-item--one {
  order: 1;
}

.Page--skills .Page-grid-item--two {
  order: 2;
}

.Page--skills .Page-grid-item--three {
  order: 4;
}

.Page--skills .Page-grid-item--four {
  order: 3;
}

.Page--skills .Page-grid-item--five {
  order: 5;
}

.Page--skills .Page-grid-item--six {
  order: 6;
}

.Page--skills .Page-grid-item--seven {
  order: 8;
}

.Page--skills .Page-grid-item--eight {
  order: 7;
}

@media screen and (max-width: 1024px) {
  .Page--skills .Page-grid-item {
    width: 100%;
  }

  .Page--skills .Page-grid-item--one {
    order: 1;
  }

  .Page--skills .Page-grid-item--two {
    order: 2;
  }

  .Page--skills .Page-grid-item--three {
    order: 3;
  }

  .Page--skills .Page-grid-item--four {
    order: 4;
  }

  .Page--skills .Page-grid-item--five {
    order: 5;
  }

  .Page--skills .Page-grid-item--six {
    order: 6;
  }

  .Page--skills .Page-grid-item--seven {
    order: 7;
  }

  .Page--skills .Page-grid-item--eight {
    order: 8;
  }
}

.Page--skills .Page-grid-content {
  box-sizing: border-box;
  text-align: center;
}

.Page--skills .Page-grid-content--title {
  flex: 1;
}

.Page--skills .Page-grid-content--title h2 {
  font-size: 36px;
  color: #fff;
}

.Page--skills .Page-grid-content--image {
  flex: 2;
}

.Page--skills .Page-grid-content--text {
  flex: 2;
  text-align: left;
}

.Page--skills .Page-grid-content--text p {
  -webkit-hyphens: none;
          hyphens: none;
}

.no-flexboxlegacy .Page.Page--skills .Page-grid {
  display: block;
}

.no-flexboxlegacy .Page.Page--skills .Page-grid-item {
  width: 100%;
  display: block;
}

.ProjectExcerpt {
  position: relative;
}

.ProjectExcerpt-link {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.ProjectExcerpt-inner {
  display: flex;
  position: relative;
  margin-left: calc((100vw - 1024px) / 2);
}

.ProjectExcerpt-thumb {
  flex: 1 1 30%;
  position: relative;
  z-index: 2;
}

.ProjectExcerpt-thumb::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0 0 0 1em;
}

.ProjectExcerpt-thumb::after {
  transition: width 0.2s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 0%;
  height: 100%;
  left: 50%;
  top: 0;
  background: #4D78C9;
  z-index: -1;
  border-radius: 0 0 0 1em;
}

.ProjectExcerpt-img {
  overflow: hidden;
  position: relative;
  -webkit-clip-path: circle(50%);
          clip-path: circle(50%);
  transition: all 0.2s ease-in-out;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: 100%;
}

.ProjectExcerpt-details {
  position: relative;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  flex: 1 1 70%;
  padding: 3rem;
  padding-right: calc((100vw - 1024px) / 2);
  transition: all 0.2s ease-in-out;
}

.ProjectExcerpt-details::after {
  transition: width 0.2s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 0%;
  height: 100%;
  right: 0;
  top: 0;
  background: linear-gradient(90deg, #4D78C9, #5AC49F);
  z-index: -2;
}

.ProjectExcerpt-title {
  transition: all 0.2s ease-in-out;
  line-height: 1;
  font-size: 2.6rem;
}

.ProjectExcerpt-sub {
  transition: all 0.2s ease-in-out;
  line-height: 1.1;
  font-size: 2.5rem;
  margin-top: 0.5em;
  font-family: "Caveat", Georgia, serif;
}

.ProjectExcerpt-description {
  margin-top: 1em;
}

.ProjectExcerpt:hover {
  cursor: pointer;
}

.ProjectExcerpt-link:focus + .ProjectExcerpt-inner .ProjectExcerpt-thumb::before,
.ProjectExcerpt:hover .ProjectExcerpt-thumb::before {
  background: rgba(255, 255, 255, 0);
}

.ProjectExcerpt-link:focus + .ProjectExcerpt-inner .ProjectExcerpt-thumb::after,
.ProjectExcerpt:hover .ProjectExcerpt-thumb::after {
  width: 50%;
}

.ProjectExcerpt-link:focus + .ProjectExcerpt-inner .ProjectExcerpt-img,
.ProjectExcerpt:hover .ProjectExcerpt-img {
  transform: scale(1.1);
}

.ProjectExcerpt-link:focus + .ProjectExcerpt-inner .ProjectExcerpt-details,
.ProjectExcerpt:hover .ProjectExcerpt-details {
  background: rgba(255, 255, 255, 0);
  color: #fff;
}

.ProjectExcerpt-link:focus + .ProjectExcerpt-inner .ProjectExcerpt-details::after,
.ProjectExcerpt:hover .ProjectExcerpt-details::after {
  width: 100%;
}

.ProjectExcerpt-link:focus + .ProjectExcerpt-inner .ProjectExcerpt-title,
.ProjectExcerpt:hover .ProjectExcerpt-title {
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .ProjectExcerpt-inner {
    margin-left: 3rem;
  }

  .ProjectExcerpt-details {
    padding-right: 3rem;
  }
}

@media screen and (max-width: 480px) {
  .ProjectExcerpt-inner {
    flex-wrap: wrap;
    margin: 0;
  }

  .ProjectExcerpt-thumb {
    order: 1;
    flex: 1 1 100%;
    padding: 2rem;
  }

  .ProjectExcerpt-thumb::before {
    top: auto;
    bottom: 0;
    width: 100%;
    height: 50%;
    border-radius: 0;
  }

  .ProjectExcerpt-thumb::after {
    left: 0;
    border-radius: 0;
  }

  .ProjectExcerpt-details {
    order: 2;
    flex: 1 1 100%;
    padding: 2rem;
    text-align: center;
  }

  .ProjectExcerpt-info {
    width: 100%;
  }

  .ProjectExcerpt-link:focus + .ProjectExcerpt-inner .ProjectExcerpt-thumb::after,
  .ProjectExcerpt:hover .ProjectExcerpt-thumb::after {
    width: 100%;
  }

  .ProjectExcerpt-link:focus + .ProjectExcerpt-inner .ProjectExcerpt-details::after,
  .ProjectExcerpt:hover .ProjectExcerpt-details::after {
    background: linear-gradient(180deg, #4D78C9, #5AC49F);
  }
}

.ProjectList-item:nth-child(2n) .ProjectExcerpt-inner {
  margin-left: auto;
  margin-right: calc((100vw - 1024px) / 2);
}

.ProjectList-item:nth-child(2n) .ProjectExcerpt-thumb {
  order: 2;
}

.ProjectList-item:nth-child(2n) .ProjectExcerpt-thumb::before {
  left: 0;
  right: auto;
  border-radius: 0 0 1em 0;
}

.ProjectList-item:nth-child(2n) .ProjectExcerpt-thumb::after {
  right: 50%;
  left: auto;
  border-radius: 0 0 1em 0;
}

.ProjectList-item:nth-child(2n) .ProjectExcerpt-details {
  order: 1;
  padding-left: calc((100vw - 1024px) / 2);
  padding-right: 3rem;
  text-align: right;
}

.ProjectList-item:nth-child(2n) .ProjectExcerpt-details::after {
  right: auto;
  left: 0;
  background: linear-gradient(270deg, #4D78C9, #5AC49F);
}

.ProjectList-item:nth-child(2n) .ProjectExcerpt-info {
  margin-left: auto;
}

@media screen and (max-width: 1024px) {
  .ProjectList-item:nth-child(2n) .ProjectExcerpt-inner {
    margin-right: 3rem;
  }

  .ProjectList-item:nth-child(2n) .ProjectExcerpt-details {
    padding-left: 3rem;
  }
}

@media screen and (max-width: 480px) {
  .ProjectList-item:nth-child(2n) .ProjectExcerpt-inner {
    margin: 0;
  }

  .ProjectList-item:nth-child(2n) .ProjectExcerpt-thumb {
    order: 1;
  }

  .ProjectList-item:nth-child(2n) .ProjectExcerpt-thumb::before {
    top: auto;
    bottom: 0;
    width: 100%;
    height: 50%;
    border-radius: 0;
  }

  .ProjectList-item:nth-child(2n) .ProjectExcerpt-thumb::after {
    left: 0;
    border-radius: 0;
  }

  .ProjectList-item:nth-child(2n) .ProjectExcerpt-details {
    order: 2;
    padding: 2rem;
    text-align: center;
  }

  .ProjectList-item:nth-child(2n) .ProjectExcerpt-info {
    margin-left: 0;
  }

  .ProjectList-item:nth-child(2n) .ProjectExcerpt-link:focus + .ProjectExcerpt-inner .ProjectExcerpt-thumb::after,
  .ProjectList-item:nth-child(2n) .ProjectExcerpt:hover .ProjectExcerpt-thumb::after {
    width: 100%;
  }

  .ProjectList-item:nth-child(2n) .ProjectExcerpt-link:focus + .ProjectExcerpt-inner .ProjectExcerpt-details::after,
  .ProjectList-item:nth-child(2n) .ProjectExcerpt:hover .ProjectExcerpt-details::after {
    background: linear-gradient(180deg, #4D78C9, #5AC49F);
  }
}

.ProjectSingle {
  display: block;
  overflow: hidden;
  position: relative;
  border-radius: 1em;
}

.ProjectSingle-inner {
  -webkit-clip-path: circle(40% at 50% 50%);
          clip-path: circle(40% at 50% 50%);
  transition: all 0.3s ease-in-out;
  will-change: clip-path;
  background-size: cover;
}

.ProjectSingle-bg {
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.ProjectSingle-logo {
  display: none;
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 8em;
}

.ProjectSingle-title {
  opacity: 0;
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  padding: 1em;
  text-align: center;
  transition: all 0.2s ease-out;
  color: rgb(255, 255, 255);
}

.ProjectSingle:hover {
  cursor: pointer;
}

.ProjectSingle:hover::after {
  border-color: transparent;
}

.ProjectSingle:hover .ProjectSingle-inner {
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
}

.ProjectSingle:hover .ProjectSingle-title {
  opacity: 1;
}

.ProjectSingle:hover .ProjectSingle-bg {
  opacity: 1;
}

.ProjectSingle::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  border: 2px solid #ed913d;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  -webkit-animation: 2s ease-in 0s infinite throb;
          animation: 2s ease-in 0s infinite throb;
}

@-webkit-keyframes throb {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  50% {
    transform: scale(1);
    opacity: 0;
  }

  90% {
    transform: scale(0.84);
    opacity: 1;
  }

  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}

@keyframes throb {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  50% {
    transform: scale(1);
    opacity: 0;
  }

  90% {
    transform: scale(0.84);
    opacity: 1;
  }

  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}

@media screen and (max-width: 480px) {
  .ProjectSingle {
    cursor: pointer;
  }

  .ProjectSingle::after {
    border-color: transparent;
  }

  .ProjectSingle-inner {
    -webkit-clip-path: circle(100%);
            clip-path: circle(100%);
  }

  .ProjectSingle-title {
    opacity: 1;
  }

  .ProjectSingle-bg {
    opacity: 1;
  }
}

.ProjectList-item {
  padding: 3rem 0;
}

@media screen and (max-width: 1024px) {
  .ProjectList-item {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 640px) {
  .ProjectList-item {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .ProjectList-item {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.Error-layout {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Error-container {
  max-width: 970px;
  text-align: center;
  padding: 2em;
}

.Error-button {
  display: inline-block;
  margin: 0.5em;
  padding: 0.5em 1em;
  border: 1px solid #ed913d;
}

.Error-button--primary {
  background: #ed913d;
  color: #eee;
}

