/*  ====== Theme Variables ======
    Unique to this project
    ========================================================================= */
.HomeIntro {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  max-width: 1680px;
  padding-top: 2em;
}
.HomeIntro-speech {
  flex: 0 1 auto;
  order: 2;
  align-self: flex-start;
}
.HomeIntro-speech-inner {
  display: block;
  margin: 0 auto;
  padding: 1em;
  background: url('/img/home/speech.svg') left bottom no-repeat;
  background-size: 50%;
}
.HomeIntro-speech-bubble {
  display: inline-block;
  background: #fff;
  border-radius: 100%;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.2) 4px 0px 3px;
  font-family: 'Caveat', Georgia, serif;
  text-align: center;
  line-height: 1;
  color: rgba(0, 0, 0, 0.6);
  font-size: 3em;
}
.HomeIntro-heading {
  flex: 1 1 auto;
  order: 3;
  padding: 1em;
  margin: 0;
  text-align: center;
  font-size: 4em;
}
.HomeIntro-heading-sub {
  font-size: 0.8em;
  display: block;
  font-family: 'Caveat', Georgia, serif;
}
.HomeIntro-wave {
  flex: 1 1 25%;
  max-width: 320px;
  order: 1;
}
.HomeIntro-wave-img {
  display: block;
}
.HomeAbout {
  position: relative;
  padding: 6em;
  text-align: center;
}
.HomeAbout-inner {
  position: relative;
  z-index: 6;
}
.HomeAbout-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.HomeAbout-heading {
  font-size: 56px;
  line-height: 1.2;
  color: #fff;
}
.HomeAbout-text {
  display: block;
}
.HomeAbout-text--one {
  font-size: 48px;
  font-family: 'Nunito', serif;
}
.HomeAbout-text--two {
  font-size: 96px;
  text-transform: uppercase;
  font-family: 'Nunito', serif;
}
.HomeAbout-text--three {
  font-size: 42px;
  font-family: 'Nunito', serif;
}
@media only screen and (max-width: 480px) {
  .HomeAbout-text--one {
    font-size: 24px;
  }
  .HomeAbout-text--two {
    font-size: 48px;
  }
  .HomeAbout-text--three {
    font-size: 22px;
  }
}
.Page.Page--home .Page-heading {
  position: relative;
  clear: both;
}
.Page.Page--home .Page-heading img {
  vertical-align: top;
}
.Page.Page--home .Page-heading-speech {
  position: relative;
  background: url('/img/speech_bubble.png') left bottom no-repeat;
  margin-bottom: 30px;
}
.Page.Page--home .Page-heading-speech-bubble {
  display: inline-block;
  background: #fff;
  border-radius: 0 0 100% 100%;
  padding-top: 150px;
  margin-top: -150px;
  box-shadow: rgba(0, 0, 0, 0.2) 4px 0px 3px;
}
.Page.Page--home .Page-heading-speech-bubble-speech {
  display: block;
  padding: 20px 60px 30px 60px;
  text-align: center;
  font-family: 'Caveat', Georgia, serif;
  font-size: 40px;
  line-height: 1.1;
  color: rgba(0, 0, 0, 0.6);
}
.Page.Page--home .Page-heading-homeHeading {
  font-size: 64px;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.6);
  font-family: 'Caveat', Georgia, serif;
}
.Page.Page--home .Page-heading-homeHeading small {
  font-size: 40px;
  display: block;
}
@media only screen and (max-width: 1024px) {
  .Page.Page--home .Page-heading-homeHeading {
    font-size: 40px;
  }
  .Page.Page--home .Page-heading-homeHeading small {
    font-size: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .Page.Page--home .Page-heading-column {
    float: none;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  .Page.Page--home .Page-heading-column--left {
    width: 100%;
    position: relative;
  }
  .Page.Page--home .Page-heading-column--left img {
    float: none;
    display: inline-block;
  }
  .Page.Page--home .Page-heading-column--right {
    width: 100%;
    margin-left: 0;
  }
  .Page.Page--home .Page-heading-speechWrapper {
    position: relative;
    background: none;
    margin-bottom: 15px;
  }
  .Page.Page--home .Page-heading-speechWrapper-speechBubble {
    width: 100%;
  }
  .Page.Page--home .Page-heading-speech {
    background: url('/img/speech_bubble.png') 30% bottom no-repeat;
  }
  .Page.Page--home .Page-heading-homeHeading {
    font-size: 34px;
  }
}
.Page.Page--home .Page-cta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.Page.Page--home .Page-cta-column {
  float: left;
  flex: 1 1 auto;
  text-align: center;
}
.Page.Page--home .Page-cta-column--middle {
  width: 10%;
  padding: 0 12px;
}
@media only screen and (max-width: 480px) {
  .Page.Page--home .Page-cta-column {
    flex: 1 1 100%;
  }
  .Page.Page--home .Page-cta-column--middle {
    width: 100%;
  }
}
.Page.Page--home .Page-intro {
  font-size: 56px;
  line-height: 1.2;
  color: #000000;
}
.Page.Page--home .Page-intro-text {
  display: block;
}
.Page.Page--home .Page-intro-text--one {
  font-size: 48px;
  font-family: 'Nunito', serif;
}
.Page.Page--home .Page-intro-text--two {
  font-size: 96px;
  text-transform: uppercase;
  font-family: 'Nunito', serif;
}
.Page.Page--home .Page-intro-text--three {
  font-size: 42px;
  font-family: 'Nunito', serif;
}
@media only screen and (max-width: 480px) {
  .Page.Page--home .Page-intro-text--one {
    font-size: 24px;
  }
  .Page.Page--home .Page-intro-text--two {
    font-size: 48px;
  }
  .Page.Page--home .Page-intro-text--three {
    font-size: 22px;
  }
}
.Page.Page--skills .Page-grid {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.Page.Page--skills .Page-grid-item {
  box-sizing: border-box;
  width: 50%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.Page.Page--skills .Page-grid-item--bg {
  background: #fff;
}
.Page.Page--skills .Page-grid-item--color1 {
  background: #ed913d;
}
.Page.Page--skills .Page-grid-item--color2 {
  background: #4D78C9;
}
.Page.Page--skills .Page-grid-item--color3 {
  background: #5AC49F;
}
.Page.Page--skills .Page-grid-item--noPadding {
  padding: 0;
}
.Page.Page--skills .Page-grid-item--noPaddingBottom {
  padding-bottom: 0;
}
.Page.Page--skills .Page-grid-item--one {
  order: 1;
}
.Page.Page--skills .Page-grid-item--two {
  order: 2;
}
.Page.Page--skills .Page-grid-item--three {
  order: 4;
}
.Page.Page--skills .Page-grid-item--four {
  order: 3;
}
.Page.Page--skills .Page-grid-item--five {
  order: 5;
}
.Page.Page--skills .Page-grid-item--six {
  order: 6;
}
.Page.Page--skills .Page-grid-item--seven {
  order: 8;
}
.Page.Page--skills .Page-grid-item--eight {
  order: 7;
}
@media screen and (max-width: 1024px) {
  .Page.Page--skills .Page-grid-item {
    width: 100%;
  }
  .Page.Page--skills .Page-grid-item--one {
    order: 1;
  }
  .Page.Page--skills .Page-grid-item--two {
    order: 2;
  }
  .Page.Page--skills .Page-grid-item--three {
    order: 3;
  }
  .Page.Page--skills .Page-grid-item--four {
    order: 4;
  }
  .Page.Page--skills .Page-grid-item--five {
    order: 5;
  }
  .Page.Page--skills .Page-grid-item--six {
    order: 6;
  }
  .Page.Page--skills .Page-grid-item--seven {
    order: 7;
  }
  .Page.Page--skills .Page-grid-item--eight {
    order: 8;
  }
}
.Page.Page--skills .Page-grid-content {
  box-sizing: border-box;
  text-align: center;
}
.Page.Page--skills .Page-grid-content--title {
  flex: 1;
}
.Page.Page--skills .Page-grid-content--title h2 {
  font-size: 36px;
  color: #fff;
}
.Page.Page--skills .Page-grid-content--image {
  flex: 2;
}
.Page.Page--skills .Page-grid-content--text {
  flex: 2;
  text-align: left;
}
.Page.Page--skills .Page-grid-content--text p {
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
}
.no-flexboxlegacy .Page.Page--skills .Page-grid {
  display: block;
}
.no-flexboxlegacy .Page.Page--skills .Page-grid-item {
  width: 100%;
  display: block;
}
.PortfolioExcerpt {
  display: block;
  overflow: hidden;
  position: relative;
}
.PortfolioExcerpt-inner {
  -webkit-clip-path: polygon(50% 0%, 75% 12.5%, 100% 25%, 100% 50%, 100% 75%, 75% 87.5%, 50% 100%, 25% 87.5%, 0% 75%, 0% 50%, 0% 25%, 25% 12.5%);
          clip-path: polygon(50% 0%, 75% 12.5%, 100% 25%, 100% 50%, 100% 75%, 75% 87.5%, 50% 100%, 25% 87.5%, 0% 75%, 0% 50%, 0% 25%, 25% 12.5%);
  transition: all 0.2s ease-in-out;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  will-change: clip-path;
}
.PortfolioExcerpt-inner::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(77, 120, 201, 0.6);
}
.PortfolioExcerpt img {
  width: 100%;
}
.PortfolioExcerpt-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  padding: 10%;
  transition: all 0.2s ease-out;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  color: #ffffff;
}
.PortfolioExcerpt:hover {
  cursor: pointer;
}
.PortfolioExcerpt:hover .PortfolioExcerpt-inner {
  -webkit-clip-path: polygon(50% 0%, 80% 7.5%, 100% 25%, 95% 50%, 100% 75%, 80% 92.5%, 50% 100%, 20% 92.5%, 0% 75%, 5% 50%, 0% 25%, 20% 7.5%);
          clip-path: polygon(50% 0%, 80% 7.5%, 100% 25%, 95% 50%, 100% 75%, 80% 92.5%, 50% 100%, 20% 92.5%, 0% 75%, 5% 50%, 0% 25%, 20% 7.5%);
}
.PortfolioExcerpt:hover .PortfolioExcerpt-title {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.PortfolioExcerptLead {
  display: block;
  overflow: hidden;
  position: relative;
}
.PortfolioExcerptLead-inner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 4em;
  min-height: 60vh;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.PortfolioExcerptLead-inner:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(77, 120, 201, 0.5);
}
.PortfolioExcerptLead-main {
  flex: 1 0 40%;
  padding: 3em 1em;
  max-width: 320px;
  background: #EFEBE5;
  -webkit-clip-path: polygon(2em 0, calc(100% - 2em) 0, 100% 2em, 100% calc(100% - 2em), calc(100% - 2em) 100%, 2em 100%, 0 calc(100% - 2em), 0 2em);
          clip-path: polygon(2em 0, calc(100% - 2em) 0, 100% 2em, 100% calc(100% - 2em), calc(100% - 2em) 100%, 2em 100%, 0 calc(100% - 2em), 0 2em);
  text-align: center;
  transition: all 0.2s ease-in-out;
  will-change: clip-path;
}
.PortfolioExcerptLead:hover .PortfolioExcerptLead-inner {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.PortfolioExcerptLead:hover .PortfolioExcerptLead-main {
  -webkit-clip-path: polygon(calc(100% - 2em) 2em, calc(100% - 2em) 0, 100% 50%, 100% 50%, calc(100% - 2em) 100%, calc(100% - 2em) calc(100% - 2em), 0 calc(100% - 2em), 0 2em);
          clip-path: polygon(calc(100% - 2em) 2em, calc(100% - 2em) 0, 100% 50%, 100% 50%, calc(100% - 2em) 100%, calc(100% - 2em) calc(100% - 2em), 0 calc(100% - 2em), 0 2em);
}
@media screen and (max-width: 640px) {
  .PortfolioExcerptLead {
    flex-wrap: wrap;
  }
  .PortfolioExcerptLead-image {
    flex: 1 1 100%;
  }
  .PortfolioExcerptLead-main {
    flex: 1 1 100%;
  }
}
.PortfolioList {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.PortfolioList-item {
  flex: 1 1 auto;
  max-width: 33.3%;
  padding: 20px;
}
@media only screen and (max-width: 640px) {
  .PortfolioList-item {
    max-width: 50%;
    padding: 8px;
  }
}
@media only screen and (max-width: 480px) {
  .PortfolioList-item {
    max-width: none;
  }
}
.PortfolioStack-item:nth-child(2n) .PortfolioExcerptLead-inner {
  justify-content: flex-start;
}
.ProjectExcerpt {
  display: block;
  overflow: hidden;
  position: relative;
}
.ProjectExcerpt-inner {
  -webkit-clip-path: polygon(50% 0%, 75% 12.5%, 100% 25%, 100% 50%, 100% 75%, 75% 87.5%, 50% 100%, 25% 87.5%, 0% 75%, 0% 50%, 0% 25%, 25% 12.5%);
          clip-path: polygon(50% 0%, 75% 12.5%, 100% 25%, 100% 50%, 100% 75%, 75% 87.5%, 50% 100%, 25% 87.5%, 0% 75%, 0% 50%, 0% 25%, 25% 12.5%);
  transition: all 0.2s ease-in-out;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  will-change: clip-path;
}
.ProjectExcerpt-inner::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(77, 120, 201, 0.6);
}
.ProjectExcerpt img {
  width: 100%;
}
.ProjectExcerpt-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  padding: 10%;
  transition: all 0.2s ease-out;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  color: #ffffff;
}
.ProjectExcerpt:hover {
  cursor: pointer;
}
.ProjectExcerpt:hover .ProjectExcerpt-inner {
  -webkit-clip-path: polygon(50% 0%, 80% 7.5%, 100% 25%, 95% 50%, 100% 75%, 80% 92.5%, 50% 100%, 20% 92.5%, 0% 75%, 5% 50%, 0% 25%, 20% 7.5%);
          clip-path: polygon(50% 0%, 80% 7.5%, 100% 25%, 95% 50%, 100% 75%, 80% 92.5%, 50% 100%, 20% 92.5%, 0% 75%, 5% 50%, 0% 25%, 20% 7.5%);
}
.ProjectExcerpt:hover .ProjectExcerpt-title {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.ProjectList {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ProjectList-item {
  flex: 1 1 auto;
  max-width: 33.3%;
  padding: 20px;
}
@media only screen and (max-width: 1024px) {
  .ProjectList-item {
    max-width: 50%;
    padding: 8px;
  }
}
@media only screen and (max-width: 480px) {
  .ProjectList-item {
    max-width: none;
  }
}
