.PortfolioExcerptLead {

    $corner: 2em;

    display: block;
    overflow: hidden;
    position: relative;

    &-inner {
        &:before {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            background-color: fade($theme-secondary, 50%);
        }
        display: flex;
        align-items: center;
        justify-content: flex-end;

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;

        padding: 4em;
        min-height: 60vh;

        transition: transform .2s ease-in-out;
    }

    &-main {
        flex: 1 0 40%;
        padding: 3em 1em;

        max-width: 320px;

        background: $theme-bg;
        clip-path: polygon(
            $corner 0,
            calc(100% - $corner) 0,
            100% $corner,
            100% calc(100% - $corner),
            calc(100% - $corner) 100%,
            $corner 100%,
            0 calc(100% - $corner),
            0 $corner);

        text-align: center;

        transition: all .2s ease-in-out;
        will-change: clip-path;
    }

    &-img {


    }

    &-title {

    }

    &-description {

    }

    &:hover {

    }

    &:hover & {
        &-inner {
            transform: scale(1.1);
        }
        &-main {
            clip-path: polygon(calc(100% - $corner) $corner, calc(100% - $corner) 0, 100% 50%, 100% 50%, calc(100% - $corner) 100%, calc(100% - $corner) calc(100% - corner), 0 calc(100% - $corner), 0 $corner);
        }
    }

    @media screen and (max-width: $screen-sm) {
        flex-wrap: wrap;
        &-image {
            flex: 1 1 100%;
        }

        &-main {
            flex: 1 1 100%;
        }
    }

}
