.PortfolioExcerpt {
    display: block;
    overflow: hidden;
    position: relative;

    // background-image: linear-gradient(45deg, #22B682 0%, #4979D3 66%);
    // background: #4979D3;
    &-blur {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        // padding: 0.1em;
        // opacity: 0.25;
        // background-color: #555;
        // background: #4979D3;
        mix-blend-mode: soft-light;
        // border: 2px solid #fff;
        // filter: blur(5px);
    }

    &-marker {
        position: absolute;
        width: 100%;
    }

    &-inner {
        clip-path: polygon(25% 50%, 37.5% 75%, 62.5% 75%, 75% 50%, 62.5% 25%, 37.5% 25%);

        // transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition: all .3s ease-in-out;
        will-change: clip-path;
        // &::after {
        //     content: '';
        //     position: absolute;
        //     display: block;
        //     width: 100%;
        //     height: 100%;
        //     left: 0;
        //     top: 0;
        //     background: rgba(red($theme-secondary), green($theme-secondary), blue($theme-secondary), 0.6);
        // }

        background-size: cover;
    }

    &-bg {
        width: 100%;
        // opacity: 0.5;
        transition: all .2s ease-in-out;
    }

    &-logo {
        display: none;
        position: absolute;
        top: calc(50% - 4em);
        left: calc(50% - 4em);
        width: 8em;

        animation-name: spin;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-duration: 5s;
    }

    @keyframes spin {
        from{
            transform: rotateY(0deg);
        }
        to{
            transform: rotateY(360deg);
        }
    }

    &-title {
        opacity: 0;
        position: absolute;
        width: 100%;
        background: rgba(0,0,0,0.8);
        bottom: 0;
        padding: 1em;
        text-align: center;
        transition: all .2s ease-out;
        color: rgba(255,255,255,1);
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }

    &:hover & {
        &-marker {
            opacity: 0;
        }
        &-inner {
            clip-path: polygon(0% 50%, 0% 100%, 100% 100%, 100% 50%, 100% 0%, 0% 0%);
        }
        &-title {
            opacity: 1;
        }
        &-bg {
            opacity: 1;
        }
    }

    @media screen and (max-width: $screen-md) {
        &-marker {
            opacity: 0;
        }
        &-inner {
            clip-path: polygon(0% 50%, 0% 100%, 100% 100%, 100% 50%, 100% 0%, 0% 0%);
        }
        &-title {
            opacity: 1;
        }
        &-bg {
            opacity: 1;
        }
    }

}

.supports-observer {
    .PortfolioExcerpt {
        opacity: 0;
        transform: scale(0.1);
        transition: opacity 1s ease-in-out, transform 1s ease-out;
        &.is-visible {
            opacity: 1;
            transform: scale(1);
        }
    }
}
