.PortfolioListHero {
    // margin-top: -4em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 0;
    grid-template-areas:
        "intro1 one intro2"
        "two one three"
        "two more three";
    &-intro {
        // height: 100%;
        margin: auto;
        margin-bottom: 0;
        padding: 1em;
        text-align: center;
        p {
            font-size: 2em;
            font-family: @font-family-serif;
        }
        &--1 {
            grid-area: intro1;
        }
        &--2 {
            grid-area: intro2;
        }
    }
    &-arrow {
        display: block;
        margin: 0 auto;
        &--left {
            margin-left: 0;
        }
    }
    &-heading {
        grid-area: heading;
        margin: 0 auto 0 0;
        padding: 3rem 1rem;
        text-align: left;
    }
    &-more {
        grid-area: more;
        margin: 0 0 0 auto;
        padding: 3rem 1rem;
        text-align: center;
        &-btn {

        }
    }
    &-item {
        margin: auto;
        margin-bottom: 0;
        &--1 {
            grid-area: one;
            // margin-left: -2em;
            // margin-right: -2em;
        }
        &--2 {
            grid-area: two;
            // margin-right: -3em;
        }
        &--3 {
            grid-area: three;
            // margin-left: -3em;
        }
    }
}
