.Sidebar {
    .Nav {

        &-root,
        &-sub,
        &-item {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        &-sub {
            margin-left: 2.5em;
            .Nav-link {
                background: url('../img/sidebar/sub.svg') center left no-repeat;
                padding-left: 2.5em;
            }
        }
        &-link {
            display: flex;
            align-items: center;
            padding: 0 0.25em;
            position: relative;
            color: @color-positive;
            font-weight: 300;
            opacity: 0;
            &-inner {
                display: block;
                padding: .3em .5em;
                // background: @color-negative;
                transition: transform .2s ease-in;
                transition-delay: .2s;
                text-align: center;
                // clip-path: polygon(0 0, ~"calc(100% - 1em)" 0, 100% 50%, ~"calc(100% - 1em)" 100%, 0 100%);
                font-size: 1.6em;
            }
            &-text {
                transition: opacity .2s ease-out;
            }
            &-icon {
                flex: 0 0 auto;
                width: 2.5em;
                padding: .5em;
                fill: @color-positive;
                stroke-width: 0.5em;
                stroke: transparent;
                background: url('../img/sidebar/hexagon.svg') center center no-repeat;
                background-size: 100%;
                transition: all .2s ease-in-out;
            }
            &:hover {
                .Nav-link-icon {
                    fill: transparent;
                    stroke: @color-positive;
                }
                .Nav-link-text {
                    stroke: @color-primary;
                }
            }
        }
        @media screen and (max-width: 480px) {
            &-link {
                &-inner {
                    font-size: 1.2em;
                }
            }
        }
    }
}
