*
!.gitignore

!.htaccess.example
!favicon
!index.php
!robots.txt
!humans.txt



!favicons/
!favicons/*
favicons/**/~
favicons/**/.DS_Store

!css/
!css/*
!js/
!js/*
!fonts/
!fonts/*
!img/
!img/*
!img/**