
$theme-primary: #ed913d;
$theme-secondary: #4D78C9;
$theme-tertiary: #5AC49F;

$theme-neutral: #BFBFBF;
$theme-bg: #EFEBE5;

$font-size-base-lg: 20px;
$font-size-base-md: 18px;
$font-size-base-sm: 16px;
$font-size-base: $font-size-base-md;

// Set a ratio for headings and other bits of typography
$headingRatio: 1.3;
// Golden Ratio = 1.618
// A More sensible ratio is 1.2
$h6: $font-size-base;
$h5: $font-size-base;
$h4: $font-size-base * $headingRatio;
$h3: $h4 * $headingRatio;
$h2: $h3 * $headingRatio;
$h1: $h2 * $headingRatio;

$font-family: 'Lato', serif;
$font-family-heading: 'Nunito', serif;
$font-family-serif: 'Caveat', Georgia, serif;

$heading-color: #555;
$text-color: #333;
$link-color: $theme-primary;

$spacer: 30px;

$screen-xl: 1440px;
$screen-lg: 1280px;
$screen-md: 1024px;
$screen-sm: 640px;
$screen-xs: 480px;
