
.Header {
    display: flex;
    align-items: flex-end;
    gap: 2em;
    margin-bottom: 2rem;
    &-logo {
        max-width: 30ch;
        flex: 0 0 auto;
    }
    &-desc {
        padding: 1.4em 0;
        max-width: 66ch;
    }
    @media screen and (max-width: 640px) {
        flex-wrap: wrap;
    }
}

.Index {
    &-list {
        display: flex;
        width: 100%;
        &-month {
            order: 2;
            flex: 0 0 auto;
            &-h {
                // text-orientation: mixed;
                writing-mode: vertical-rl;
                // height: fit-content;
                display: block;
                position: sticky;
                top: 2em;
                text-transform: uppercase;
                font-size: 3rem;
            }
        }
        &-item {
            display: flex;
            gap: 1rem;
            // width: 100%;
        }
        &-inner {
            flex: 1 1 auto;
            order: 1;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem 3rem;
        }
        &-group {
            &-heading {
                // display: flex;
                gap: 1rem;
                align-items: flex-end;
                flex-wrap: wrap;
            }
            &-week {
                font-size: 2.6rem;
                line-height: 1;
                text-transform: uppercase;
            }
            &-theme {
                font-size: 4rem;
                line-height: 1;
                margin-top: -0.4em;
                padding-left: 0.5em;
                color: $theme-primary;
                font-family: 'Dancing Script', serif;
            }
            &-items {
                padding: 1rem 0;
                display: flex;
                gap: 1rem;
                flex-wrap: wrap;
            }
        }
    }
    &-pagination {
        margin: 1rem 0;
    }
}

.Pagination {
    font-family: 'Orbitron', san-serif;
    justify-content: flex-start;
    a,
    span {

        border-radius: 0;
    }
    span {

    }
    a {
        color: $theme-primary;
        border-color: $theme-primary;
        &:hover {
            background: $theme-primary;
        }
    }
    li {
        &.is-active {
            a, span {
                border-color: $theme-primary;
                background: $theme-primary;
            }
        }
    }
}

.PieceExcerpt {
    transition: all .2s ease-in;
    &-link {
        display: block;
        &:hover {
            transform: rotate(4deg) scale(1.1);
        }
    }
}

@media screen and (max-width: 480px) {



}