.HeaderShow {
    display: flex;
    // align-items: center;
    // flex-direction: column;
    justify-content: space-between;
    gap: 1em 3em;
    flex: 1 1 auto;
    // margin-bottom: 1em;
    // width: 100%;
    &-logo {
        display: block;
        flex: 0 0 auto;
        width: 100%;
        max-width: 10ch;
    }
    &-theme {
        // writing-mode: vertical-rl;
        flex: 1 0 auto;
        &-week {
            line-height: 1;
            font-size: 2rem;
        }
        &-theme {
            font-size: 3rem;
            padding-left: 0.5em;
            margin-top: -0.4em;
            line-height: 1;
            color: $theme-primary;
            font-family: 'Dancing Script', serif;
        }
    }
    &-title {
        flex: 1 0 auto;
        // writing-mode: vertical-rl;
        font-size: 4rem;
        line-height: 1;
        color: $theme-primary;
        font-family: 'Dancing Script', serif;
    }
    &-pagination {
        // margin-left: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-right: 4em;
        gap: 1em 3em;
        // height: 100%;
        &-item {
            display: block;
            line-height: 1;
            color: $theme-primary;
            max-width: 120px;
            .PieceExcerpt-link {
                position: relative;
                &:after {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    font-size: 2em;
                    top: 25%;
                    right: -25%;
                    width: 50%;
                    height: 50%;
                    background: $theme-primary;
                    color: #fff;
                    font-weight: bold;
                    line-height: 1;
                    text-transform: uppercase;
                    font-family: 'Orbitron', san-serif;
                }
            }
            &.-first {
                .PieceExcerpt-link:after {
                    content: '<<';
                    left: -25%;
                }
            }
            &.-prev {
                .PieceExcerpt-link:after {
                    content: '<';
                    left: -15%;
                }
            }
            &.-next {
                .PieceExcerpt-link:after {
                    content: '>';
                    right: -15%;
                }
            }
            &.-last {
                .PieceExcerpt-link:after {
                    content: '>>';
                }
            }
        }
    }
}

.Show {
    &-inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1em 3rem;
    }
    &-media {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
    }
    &-image {
        &-img {
            max-height: 90vh;
        }
    }
    &-video {
        max-height: 80vh;
        max-width: 100%;
    }
    &-desc {
        max-width: 66ch;
    }
    &-process {
        // flex: 0 1 auto;
        &-heading {
            text-transform: uppercase;
        }
        &-list {
            display: flex;
            // flex-direction: column;
            flex-wrap: wrap;
            gap: 1rem 3rem;
        }
        &-group {
            &-heading {
                padding: 0.5em 0;
                &-h {
                    font-size: 1.6em;
                    color: $theme-primary;
                    font-family: 'Dancing Script', serif;
                }
            }
            &-list {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
            }
            &-desc {
                max-width: 20ch;
            }
        }
        &-item {
            &-img {
                max-height: 200px;
            }
        }
    }
    &-metadata {
        &-heading {
            font-size: 2.6rem;
            line-height: 1;
            text-transform: uppercase;
            font-family: 'Orbitron', san-serif;
            color: #B5B5B5;
            &:hover {
                cursor: pointer;
            }
        }
        &-list {
            display: block;
            margin-top: 1em;
            &:after {
                content:"";
                display:table;
                clear:both;
            }
        }
        &-key {
            float: left;
            width: max-content;
            text-align: right;
            // padding: .25em;
            clear: left;
        }
        &-value {
            float: left;
            // width: 60%;
            padding: 0 0.5em;
        }
    }
    &-more {
        &-heading {
            font-family: 'Orbitron', san-serif;
            color: #B5B5B5;
            text-transform: uppercase;
            line-height: 1;
            margin-bottom: 0.5em;
            &-theme {
                font-size: 1.2em;
                color: $theme-primary;
                font-family: 'Dancing Script', serif;
            }
        }
        &-list {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
        }
    }
}

@media screen and (max-width: 480px) {
    .HeaderShow {
        flex-wrap: wrap;
    }
    .Show {
        &-media {

        }
        &-image {
            &-img {
                // max-height: auto;
                // width: 100%;
            }
        }
        &-process {
            &-heading {

            }
            &-list {

            }
            &-group {
                &-heading {
                    &-h {

                    }
                }
                &-list {
                    > * {
                        flex: 1 1 40%;
                    }
                }
            }
            &-item {
                &-img {
                    // height:
                }
            }
        }
        &-metadata {
            
        }
        &-more {
            &-heading {
                &-theme {

                }
            }
            &-list {

            }
        }
    }
}