$theme-primary: #FF0B4B;
$theme-secondary: #B5B5B5;

@import "index";
@import "show";

h1, h2, h3, h4, h5, h6 {
    font-family: 'Orbitron', san-serif;
    color: #B5B5B5;
}

.Container {
    width: 100%;
    padding: 2rem 3rem;
    display: flex;
    > * {
        flex: 1 1 auto;
    }
    &-side {
        flex: 0 0 auto;
        > * {
            position: sticky;
            top: 0;
        }
    }
}

@media screen and (max-width: 640px) {
    .Container {
        padding: 1rem 1rem;
        flex-wrap: wrap;
    }
}