@import "~glightbox/dist/css/glightbox.css";

$theme-primary: #ed913d;
$theme-secondary: #4D78C9;
$theme-tertiary: #5AC49F;

$theme-bg: #111;

$theme-positive: #fff;
$theme-negative: #111;

$text-color: #fff;
$link-color: #876;

$font-family: 'Arial', sans-serif;
$font-family-heading: 'Roboto Slab', sans-serif;

$max-width: 1170px;
$screen-xl: 1440px;
$screen-lg: 1280px;
$screen-md: 1024px;
$screen-sm: 640px;
$screen-xs: 480px;

@import "elements";

@import "home";
@import "gallery";
